

.black-nav{
  background-color : black;
  height : 60px;
  display:flex;
  padding-left:20px;


}
div{
  box-sizing : border-box;
}
.list{
  text-align: left;
  border-bottom:1px solid grey;
  padding-left:20px;
  padding-bottom:20px;
  
}
.modal{
  margin-top : 20px;
  padding:20px;
  background : #eee;
  text-align: left;
}